.parceiros {
  padding-top: 60px;
  padding-bottom: 120px;
}

.parceiros h2 {
  margin-bottom: 60px;
}

.parceiros ul {
  padding: 0 20px;
  max-width: 1400px;
  /* Quando você quiser coluna usa-se o grid */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

.parceiros li {
  display: flex;
  padding: 32px;
  border-left: 2px solid var(--cor-2);
}

/* para o icone ficar exatamente ao centro usasse display flex na li comando acima e depois margin zero na img abaixo */ 
.parceiros img {
  margin: auto;
}

.parceiros li:first-child, 
.parceiros li:nth-child(5) {
  border-left: none;
}

/* uma linha n nas cinco colunas 5 */
.parceiros li:nth-child(n + 5) {
  border-top: 2px solid var(--cor-2);
}

@media (max-width: 800px) {
  .parceiros {
    padding-bottom: 60px;
  }
  .parceiros li {
    padding: 20px;
  }
  .parceiros h2 {
    margin-bottom: 20px;
  }
  .parceiros ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .parceiros li:nth-child(n + 3) {
    border-top: 2px solid var(--cor-2);
  }
  /* Só alterar itens ímpares :nth-child(odd) */
  .parceiros li:nth-child(odd) {
    border-left: none;
  }
}