.tecnologia-bg {
  background-color: var(--cor-11);
  /* Para fazer sombra em cima e embaixo só repetir */
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
}

.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tecnologia-imagem img {
  width: 100%;
  height: 100%;
  /* Faz com que a imagem não se deforme */
  object-fit: cover;
  object-position: left;
}

.tecnologia-conteudo {
  padding-top: 160px;
  padding-bottom: 160px;
}

.tecnologia-conteudo > span {
  display: block;
  margin-bottom: 20px;
}

.tecnologia-conteudo h2 {
  margin-bottom: 32px;
}

.tecnologia-conteudo > p {
  margin-bottom: 20px;
}

.tecnologia a {
  margin-bottom: 80px;
}

.tecnologia-vantagens {
  display: flex;
  gap: 40px;
}

.tecnologia-vantagens h3 {
  margin-bottom: 8px;
  /* Nunca quebrará o titulo ou h3 em duas linhas */
  width: max-content;
}

.tecnologia-vantagens img {
  width: 24px;
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .tecnologia-bg {
    /* excluir o shadow com initial */
    box-shadow: initial;
  }
  .tecnologia {
    grid-template-columns: 1fr;
  }
  .tecnologia-conteudo {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .tecnologia-imagem {
    display: none
  }
  .tecnologia a {
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

.link {
  /* inline-block para pegar tudo que é padding */
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

/* Criar um sublinhado personalizado para ajustar posição */
.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor-0);
}